.identity-form {
  min-width: 380px;
}

@media screen and (max-width: $breakpoint-sm-min) {
  .identity-form {
    min-width: 86vw;
  }
}

@media screen and (max-width: $breakpoint-md-min) {
  .identity-form {
    min-width: 55vw;
  }
}

@media screen and (min-width: $breakpoint-md-min) {
  .identity-form {
    min-width: 425px;
    max-width: 450px;
  }
}

.identity-text,
.q-checkbox__label {
  font-size: 1.05rem;
  color: var(--q-action);
}

.identity-link {
  color: var(--q-action);
  text-decoration: none;
}
