.q-list {
  :hover {
    background-color: var(--q-app-background);
  }
}

.q-item {
  :hover {
    background-color: var(--q-app-background);
  }

  .q-icon,
  .q-item__label {
    color: var(--q-primary);
    background-color: transparent;
  }
}

.app-list-item-active {
  background-color: var(--q-primary) !important;

  :hover {
    background-color: var(--q-primary) !important;
  }

  .q-icon,
  .q-item__label {
    color: var(--q-primary-inverted) !important;
  }
}

.app-list-item-text {
  font-size: 0.91rem;

  // font-weight: 100;
  @media screen and (max-width: $breakpoint-md-min) {
    font-size: 1.2rem;
  }
}
